  <%- include('includes/head.ejs') %>
  <body>
   <%- include('includes/navigation.ejs') %>
   <link rel="stylesheet" href="/css/product.css">
   <link rel="stylesheet" href="/css/forms.css">
  <main>
      <% if (items.length > 0) { %>
          <ul class="cart__item-list">
              <% items.forEach(todo => { %>
                  <li class="product__item"></li>
                      <h1><%= todo.title %></h1>
                      <form action="/admin/delete-todo" method="POST">
                       <input type="hidden" value="<%= todo.id %>" name="todoId">
                       <button class="btn" type="submit">Delete Todo</button>
   
                   </form>
                  </li>
             <% }) %>
          </ul>
     <% } else { %>
          <h1>No Completed Task!</h1>
      <% } %>
  </main>
   <%- include('includes/end.ejs') %>
